<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>publish-subscribe.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>publish-subscribe-%d.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-5p [%d{ISO8601,UTC}] %c: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p [%d{ISO8601,UTC}] %c: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.iluwatar" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
